@import '../../../node_modules/@angular/material/core/theming/all-theme';
@import "../variables";

@include md-core();

$primary: md-palette($md-deep-purple);
$accent:  md-palette($md-deep-purple, A200, A100, A400);

$inputTheme: md-light-theme($primary, $accent);

.#{$template_1} {
  @include md-tabs-theme($inputTheme);

  [md-tab-nav-bar],
  .md-tab-header {
    border-bottom: none;
  }
}
