<header>

  <md-tab-group>
    <md-tab label="Idea Flow"></md-tab>
    <md-tab label="FAQ"></md-tab>
    <md-tab label="Glossary"></md-tab>
    <md-tab label="SPC"></md-tab>
  </md-tab-group>
</header>
<main>
  <header>
    <h1>Recent Idea Flows</h1>
    <aside>
      <md-input-container>
        <input md-input type="search"/><md-icon>search</md-icon>
      </md-input-container>
    </aside>
  </header>
  <main>

    <table class="mdl-data-table">
      <thead>
        <tr>
          <th>IFM</th>
          <th>Project</th>
          <th>TaskId</th>
          <th>Description</th>
          <th>Most Recent Activity</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks; let i = index;">
          <td>{{i}}</td>
          <td>{{task.project}}</td>
          <td>{{task.name}}</td>
          <td>{{task.description}}</td>
          <td>{{task?.modifyDate | amTimeAgo}}</td>
        </tr>
      </tbody>
    </table>
  </main>
</main>
<footer>
  Open Mastery, Inc.
</footer>
