<main>
  <header>
    <main>
      <h1>A Visual Map of Your Idea Flow</h1>
      <nav>
        <p>
          <a href="/#/home" rel="index up up up">home</a>
          <i class="material-icons">keyboard_arrow_right</i>
          <a>{{id}}</a>
        </p>
      </nav>

    </main>
    <aside>
      <md-input-container>
        <input md-input type="search"/><md-icon>search</md-icon>
      </md-input-container>
    </aside>
  </header>
  <main>

    <h2>
      {{timelineTask?.task?.name}} - {{timelineTask?.task?.description}}
    </h2>
    <main>
      <google-chart [data]="timelineChartOptions"></google-chart>
    </main>
    <md-card *ngFor="let subtask of timelineTask?.ideaFlowStory?.subtasks; let i = index;" (click)="getSubtask(subtask)">
      <header>
        <main>
          {{i+1}}. {{subtask.description}}
        </main>
        <aside>
          {{subtask.durationInSeconds | amDuration:'seconds'}}
        </aside>
      </header>
      <main>
        <legend>
          <ul>
            <li *ngFor="let percent of subtask?.capacityDistribution?.percentages" [class]="percent.name">
              <i class="material-icons">lens</i>
              <label>{{percent.name}}</label>
            </li>
          </ul>
        </legend>

        <figure>
          <time *ngFor="let percent of subtask?.capacityDistribution?.percentages" [style.width]="percent.value" [class]="percent.name" [attr.percent]="percent.value"></time>
        </figure>
        <table>
          <tr>
            <td>
              <i class="material-icons">access_time</i>
            </td>
            <td>
              START TIME
            </td>
            <td>
              {{subtask.position | date:'medium'}}
            </td>
          </tr>
          <tr *ngFor="let metric of subtask.metrics">
            <td>
              <i class="material-icons" *ngIf="metric.type === 'MAX_RESOLUTION_TIME'">timelapse</i>
              <i class="material-icons" *ngIf="metric.type === 'AVG_HUMAN_CYCLE_RATIOS'">account_circle</i>
              <i class="material-icons" *ngIf="metric.type === 'MAX_EXPERIMENT_CYCLES'">settings_backup_restore</i>
              <i class="material-icons" *ngIf="metric.type === 'WTFS_PER_DAY'">error</i>
            </td>
            <td>
              {{metric.type}}
            </td>
            <td *ngIf="metric.type === 'MAX_RESOLUTION_TIME'">
              {{metric.value | amDuration:'seconds'}}
            </td>
            <td *ngIf="metric.type != 'MAX_RESOLUTION_TIME'">
              {{metric.value}}
            </td>
          </tr>
        </table>
      </main>
    </md-card>
  </main>
</main>
