@import "palette";
@import "functions";

$primary-color: md-color($al-orange,500);
$gray:          #888888;
$text-color:    $gray;
$md-font-family: 'Open Sans', Arial, sans-serif !default;


$template_1 : "if-light-theme";
$template_2 : "if-dark-theme";
