@charset "UTF-8";
/* line 3, ../../src/stylesheets/foundation/_base.scss */
a:link, a:visited, a:hover { color: #33339b; }

/* line 7, ../../src/stylesheets/foundation/_base.scss */
body { background-color: #f7f4f9; }

/* FONT STACK */
/* line 3, ../../src/stylesheets/foundation/_grails-default.scss */
body, input, select, textarea { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

/* line 7, ../../src/stylesheets/foundation/_grails-default.scss */
h1, h2, h3, h4, h5, h6 { line-height: 1.1; }

/* BASE LAYOUT */
/* line 13, ../../src/stylesheets/foundation/_grails-default.scss */
#grailsLogo { background-color: #abbf78; }

/* replace with .no-boxshadow body if you have modernizr available */
/* line 20, ../../src/stylesheets/foundation/_grails-default.scss */
.ie6 body, .ie7 body, .ie8 body { border-color: #255b17; border-style: solid; border-width: 0 1px; }

/* line 26, ../../src/stylesheets/foundation/_grails-default.scss */
.ie6 body { height: 100%; }

/* line 30, ../../src/stylesheets/foundation/_grails-default.scss */
a:hover, a:active { outline: none; /* prevents outline in webkit on active links but retains it for tab focus */ }

/* line 34, ../../src/stylesheets/foundation/_grails-default.scss */
h1 { color: #48802c; font-weight: normal; font-size: 1.25em; margin: 0.8em 0 0.3em 0; }

/* line 41, ../../src/stylesheets/foundation/_grails-default.scss */
ul { padding: 0; }

/* line 45, ../../src/stylesheets/foundation/_grails-default.scss */
img { border: 0; }

/* GENERAL */
/* line 51, ../../src/stylesheets/foundation/_grails-default.scss */
#grailsLogo a { display: inline-block; margin: 1em; }

/* line 59, ../../src/stylesheets/foundation/_grails-default.scss */
.content h1 { border-bottom: 1px solid #CCCCCC; margin: 0.8em 1em 0.3em; padding: 0 0.25em; }

/* line 65, ../../src/stylesheets/foundation/_grails-default.scss */
.scaffold-list h1 { border: none; }

/* line 69, ../../src/stylesheets/foundation/_grails-default.scss */
.footer { background: #abbf78; color: #000; clear: both; font-size: 0.8em; margin-top: 1.5em; padding: 1em; min-height: 1em; }

/* line 79, ../../src/stylesheets/foundation/_grails-default.scss */
.footer a { color: #255b17; }

/* line 83, ../../src/stylesheets/foundation/_grails-default.scss */
.spinner { background: url(../images/spinner.gif) 50% 50% no-repeat transparent; height: 16px; width: 16px; padding: 0.5em; position: absolute; right: 0; top: 0; text-indent: -9999px; }

/* CREATE/EDIT FORMS AND SHOW PAGES */
/* line 98, ../../src/stylesheets/foundation/_grails-default.scss */
fieldset, .property-list { margin: 0.6em 1.25em 0 1.25em; padding: 0.3em 1.8em 1.25em; position: relative; zoom: 1; border: none; }

/* line 106, ../../src/stylesheets/foundation/_grails-default.scss */
.property-list .fieldcontain { list-style: none; overflow: hidden; zoom: 1; }

/* line 112, ../../src/stylesheets/foundation/_grails-default.scss */
.fieldcontain { margin-top: 1em; }

/* line 117, ../../src/stylesheets/foundation/_grails-default.scss */
.fieldcontain label, .fieldcontain .property-label { color: #666666; text-align: right; width: 25%; }

/* line 123, ../../src/stylesheets/foundation/_grails-default.scss */
.fieldcontain .property-label { float: left; }

/* line 127, ../../src/stylesheets/foundation/_grails-default.scss */
.fieldcontain .property-value { display: block; margin-left: 27%; }

/* line 132, ../../src/stylesheets/foundation/_grails-default.scss */
label { cursor: pointer; display: inline-block; margin: 0 0.25em 0 0; }

/* line 138, ../../src/stylesheets/foundation/_grails-default.scss */
input, select, textarea { background-color: #fcfcfc; border: 1px solid #cccccc; font-size: 1em; padding: 0.2em 0.4em; }

/* line 145, ../../src/stylesheets/foundation/_grails-default.scss */
select { padding: 0.2em 0.2em 0.2em 0; }

/* line 149, ../../src/stylesheets/foundation/_grails-default.scss */
select[multiple] { vertical-align: top; }

/* line 153, ../../src/stylesheets/foundation/_grails-default.scss */
textarea { width: 250px; height: 150px; overflow: auto; /* IE always renders vertical scrollbar without this */ vertical-align: top; }

/* line 160, ../../src/stylesheets/foundation/_grails-default.scss */
input[type=checkbox], input[type=radio] { background-color: transparent; border: 0; padding: 0; }

/* line 166, ../../src/stylesheets/foundation/_grails-default.scss */
input:focus, select:focus, textarea:focus { background-color: #ffffff; border: 1px solid #eeeeee; outline: 0; -moz-box-shadow: 0 0 0.5em #ffffff; -webkit-box-shadow: 0 0 0.5em #ffffff; box-shadow: 0 0 0.5em #ffffff; }

/* line 175, ../../src/stylesheets/foundation/_grails-default.scss */
.required-indicator { color: #48802C; display: inline-block; font-weight: bold; margin-left: 0.3em; position: relative; top: 0.1em; }

/* line 184, ../../src/stylesheets/foundation/_grails-default.scss */
ul.one-to-many { display: inline-block; list-style-position: inside; vertical-align: top; }

/* line 190, ../../src/stylesheets/foundation/_grails-default.scss */
.ie6 ul.one-to-many, .ie7 ul.one-to-many { display: inline; zoom: 1; }

/* line 195, ../../src/stylesheets/foundation/_grails-default.scss */
ul.one-to-many li.add { list-style-type: none; }

/* EMBEDDED PROPERTIES */
/* line 201, ../../src/stylesheets/foundation/_grails-default.scss */
fieldset.embedded { background-color: transparent; border: 1px solid #CCCCCC; margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

/* line 213, ../../src/stylesheets/foundation/_grails-default.scss */
fieldset.embedded legend { margin: 0 1em; }

/* MESSAGES AND ERRORS */
/* line 220, ../../src/stylesheets/foundation/_grails-default.scss */
.errors, .message { font-size: 0.8em; line-height: 2; margin: 1em 2em; padding: 0.25em; }

/* line 227, ../../src/stylesheets/foundation/_grails-default.scss */
.message { background: #f3f3ff; border: 1px solid #b2d1ff; color: #006dba; -moz-box-shadow: 0 0 0.25em #b2d1ff; -webkit-box-shadow: 0 0 0.25em #b2d1ff; box-shadow: 0 0 0.25em #b2d1ff; }

/* line 236, ../../src/stylesheets/foundation/_grails-default.scss */
.errors { background: #fff3f3; border: 1px solid #ffaaaa; color: #cc0000; -moz-box-shadow: 0 0 0.25em #ff8888; -webkit-box-shadow: 0 0 0.25em #ff8888; box-shadow: 0 0 0.25em #ff8888; }

/* line 246, ../../src/stylesheets/foundation/_grails-default.scss */
.errors ul, .message { padding: 0; }

/* line 250, ../../src/stylesheets/foundation/_grails-default.scss */
.errors li { list-style: none; background: transparent url(../images/skin/exclamation.png) 0.5em 50% no-repeat; text-indent: 2.2em; }

/* line 256, ../../src/stylesheets/foundation/_grails-default.scss */
.message { background: transparent url(../images/skin/information.png) 0.5em 50% no-repeat; text-indent: 2.2em; }

/* form fields with errors */
/* line 263, ../../src/stylesheets/foundation/_grails-default.scss */
.error input, .error select, .error textarea { background: #fff3f3; border-color: #ffaaaa; color: #cc0000; }

/* line 269, ../../src/stylesheets/foundation/_grails-default.scss */
.error input:focus, .error select:focus, .error textarea:focus { -moz-box-shadow: 0 0 0.5em #ffaaaa; -webkit-box-shadow: 0 0 0.5em #ffaaaa; box-shadow: 0 0 0.5em #ffaaaa; }

/* same effects for browsers that support HTML5 client-side validation (these have to be specified separately or IE will ignore the entire rule) */
/* line 277, ../../src/stylesheets/foundation/_grails-default.scss */
input:invalid, select:invalid, textarea:invalid { background: #fff3f3; border-color: #ffaaaa; color: #cc0000; }

/* line 283, ../../src/stylesheets/foundation/_grails-default.scss */
input:invalid:focus, select:invalid:focus, textarea:invalid:focus { -moz-box-shadow: 0 0 0.5em #ffaaaa; -webkit-box-shadow: 0 0 0.5em #ffaaaa; box-shadow: 0 0 0.5em #ffaaaa; }

/* TABLES */
/* line 291, ../../src/stylesheets/foundation/_grails-default.scss */
table { border-top: 1px solid #DDDDDD; border-collapse: collapse; width: 100%; margin-bottom: 1em; }

/* line 298, ../../src/stylesheets/foundation/_grails-default.scss */
tr { border: 0; }

/* line 302, ../../src/stylesheets/foundation/_grails-default.scss */
tr > td:first-child, tr > th:first-child { padding-left: 1.25em; }

/* line 306, ../../src/stylesheets/foundation/_grails-default.scss */
tr > td:last-child, tr > th:last-child { padding-right: 1.25em; }

/* line 310, ../../src/stylesheets/foundation/_grails-default.scss */
td, th { line-height: 1.5em; padding: 0.5em 0.6em; text-align: left; vertical-align: top; }

/* line 317, ../../src/stylesheets/foundation/_grails-default.scss */
th { background-color: #efefef; background-image: -moz-linear-gradient(top, white, #eaeaea); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #eaeaea)); filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#ffffff', EndColorStr = '#eaeaea'); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')"; color: #666666; font-weight: bold; line-height: 1.7em; padding: 0.2em 0.6em; }

/* line 329, ../../src/stylesheets/foundation/_grails-default.scss */
thead th { white-space: nowrap; }

/* line 333, ../../src/stylesheets/foundation/_grails-default.scss */
th a { display: block; text-decoration: none; }

/* line 338, ../../src/stylesheets/foundation/_grails-default.scss */
th a:link, th a:visited { color: #666666; }

/* line 342, ../../src/stylesheets/foundation/_grails-default.scss */
th a:hover, th a:focus { color: #333333; }

/* line 346, ../../src/stylesheets/foundation/_grails-default.scss */
th.sortable a { background-position: right; background-repeat: no-repeat; padding-right: 1.1em; }

/* line 352, ../../src/stylesheets/foundation/_grails-default.scss */
th.asc a { background-image: url(../images/skin/sorted_asc.gif); }

/* line 356, ../../src/stylesheets/foundation/_grails-default.scss */
th.desc a { background-image: url(../images/skin/sorted_desc.gif); }

/* line 360, ../../src/stylesheets/foundation/_grails-default.scss */
.odd { background: #f7f7f7; }

/* line 364, ../../src/stylesheets/foundation/_grails-default.scss */
.even { background: #ffffff; }

/* line 368, ../../src/stylesheets/foundation/_grails-default.scss */
th:hover, tr:hover { background: #E1F2B6; }

/* PAGINATION */
/* line 374, ../../src/stylesheets/foundation/_grails-default.scss */
.pagination { border-top: 0; margin: 0; padding: 0.3em 0.2em; text-align: center; -moz-box-shadow: 0 0 3px 1px #AAAAAA; -webkit-box-shadow: 0 0 3px 1px #AAAAAA; box-shadow: 0 0 3px 1px #AAAAAA; background-color: #EFEFEF; }

/* line 386, ../../src/stylesheets/foundation/_grails-default.scss */
.pagination a, .pagination .currentStep { color: #666666; display: inline-block; margin: 0 0.1em; padding: 0.25em 0.7em; text-decoration: none; -moz-border-radius: 0.3em; -webkit-border-radius: 0.3em; border-radius: 0.3em; }

/* line 398, ../../src/stylesheets/foundation/_grails-default.scss */
.pagination a:hover, .pagination a:focus, .pagination .currentStep { background-color: #999999; color: #ffffff; outline: none; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8); }

/* line 406, ../../src/stylesheets/foundation/_grails-default.scss */
.no-borderradius .pagination a:hover, .no-borderradius .pagination a:focus, .no-borderradius .pagination .currentStep { background-color: transparent; color: #444444; text-decoration: underline; }

/* ACTION BUTTONS */
/* line 414, ../../src/stylesheets/foundation/_grails-default.scss */
.buttons { background-color: #efefef; overflow: hidden; padding: 0.3em; -moz-box-shadow: 0 0 3px 1px #aaaaaa; -webkit-box-shadow: 0 0 3px 1px #aaaaaa; box-shadow: 0 0 3px 1px #aaaaaa; margin: 0.1em 0 0 0; border: none; }

/* line 426, ../../src/stylesheets/foundation/_grails-default.scss */
.buttons input, .buttons a { background-color: transparent; border: 0; color: #666666; cursor: pointer; display: inline-block; margin: 0 0.25em 0; overflow: visible; padding: 0.25em 0.7em; text-decoration: none; -moz-border-radius: 0.3em; -webkit-border-radius: 0.3em; border-radius: 0.3em; }

/* line 443, ../../src/stylesheets/foundation/_grails-default.scss */
.buttons input:hover, .buttons input:focus, .buttons a:hover, .buttons a:focus { background-color: #999999; color: #ffffff; outline: none; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8); -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

/* line 454, ../../src/stylesheets/foundation/_grails-default.scss */
.no-borderradius .buttons input:hover, .no-borderradius .buttons input:focus, .no-borderradius .buttons a:hover, .no-borderradius .buttons a:focus { background-color: transparent; color: #444444; text-decoration: underline; }

/* line 460, ../../src/stylesheets/foundation/_grails-default.scss */
.buttons .delete, .buttons .edit, .buttons .save { background-position: 0.7em center; background-repeat: no-repeat; text-indent: 25px; }

/* line 467, ../../src/stylesheets/foundation/_grails-default.scss */
.ie6 .buttons input.delete, .ie6 .buttons input.edit, .ie6 .buttons input.save, .ie7 .buttons input.delete, .ie7 .buttons input.edit, .ie7 .buttons input.save { padding-left: 36px; }

/* line 471, ../../src/stylesheets/foundation/_grails-default.scss */
.buttons .delete { background-image: url(../images/skin/database_delete.png); }

/* line 475, ../../src/stylesheets/foundation/_grails-default.scss */
.buttons .edit { background-image: url(../images/skin/database_edit.png); }

/* line 479, ../../src/stylesheets/foundation/_grails-default.scss */
.buttons .save { background-image: url(../images/skin/database_save.png); }

/* line 483, ../../src/stylesheets/foundation/_grails-default.scss */
a.skip { position: absolute; left: -9999px; }

/* line 14, ../../src/stylesheets/foundation/_buttons.scss */
.menuButton { font-size: 0px; padding: 0.5em 1.5em; display: inline-block; cursor: pointer; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF876767', endColorstr='#FF4D3B3B'); background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aa9090), color-stop(70%, #876767)); background: -webkit-linear-gradient(#aa9090, #876767 70%); background: -moz-linear-gradient(#aa9090, #876767 70%); background: -o-linear-gradient(#aa9090, #876767 70%); background: linear-gradient(#aa9090, #876767 70%); -webkit-box-shadow: #cbbbbb 0 1px 0 inset; -moz-box-shadow: #cbbbbb 0 1px 0 inset; box-shadow: #cbbbbb 0 1px 0 inset; border: 1px solid #795c5c; color: white; text-shadow: #664e4e 0 -1px 0; }
/* line 15, ../../../../../../../usr/local/Cellar/jruby/1.6.7.2/libexec/lib/ruby/gems/1.8/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.menuButton:hover { text-decoration: none; }
/* line 18, ../../../../../../../usr/local/Cellar/jruby/1.6.7.2/libexec/lib/ruby/gems/1.8/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.menuButton:hover { background-color: #795c5c; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #9f8282), color-stop(75%, #795c5c)); background: -webkit-linear-gradient(#9f8282 3%, #795c5c 75%); background: -moz-linear-gradient(#9f8282 3%, #795c5c 75%); background: -o-linear-gradient(#9f8282 3%, #795c5c 75%); background: linear-gradient(#9f8282 3%, #795c5c 75%); }
/* line 21, ../../../../../../../usr/local/Cellar/jruby/1.6.7.2/libexec/lib/ruby/gems/1.8/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.menuButton:active { -webkit-box-shadow: #705555 0 1px 2px inset; -moz-box-shadow: #705555 0 1px 2px inset; box-shadow: #705555 0 1px 2px inset; }
/* line 6, ../../../../../../../usr/local/Cellar/jruby/1.6.7.2/libexec/lib/ruby/gems/1.8/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.menuButton.disabled, .menuButton[disabled] { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; background: #876767; cursor: default; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
/* line 74, ../../../../../../../usr/local/Cellar/jruby/1.6.7.2/libexec/lib/ruby/gems/1.8/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
.menuButton::-moz-focus-inner { padding: 0 !important; margin: -1px !important; }
/* line 16, ../../src/stylesheets/foundation/_buttons.scss */
.menuButton a { display: block; color: #fff; text-decoration: none; font-size: 12px; letter-spacing: 1px; margin-bottom: 0px; min-width: 96px; text-align: center; padding: 5px; }

/* line 29, ../../src/stylesheets/foundation/_buttons.scss */
.menuButton.active { font-size: 0px; padding: 0.5em 1.5em; display: inline-block; cursor: pointer; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFAA7777', endColorstr='#FF734848'); background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c8a6a6), color-stop(70%, #aa7777)); background: -webkit-linear-gradient(#c8a6a6, #aa7777 70%); background: -moz-linear-gradient(#c8a6a6, #aa7777 70%); background: -o-linear-gradient(#c8a6a6, #aa7777 70%); background: linear-gradient(#c8a6a6, #aa7777 70%); -webkit-box-shadow: #e5d5d5 0 1px 0 inset; -moz-box-shadow: #e5d5d5 0 1px 0 inset; box-shadow: #e5d5d5 0 1px 0 inset; border: 1px solid #a16767; color: white; text-shadow: #8e5858 0 -1px 0; }
/* line 15, ../../../../../../../usr/local/Cellar/jruby/1.6.7.2/libexec/lib/ruby/gems/1.8/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.menuButton.active:hover { text-decoration: none; }
/* line 18, ../../../../../../../usr/local/Cellar/jruby/1.6.7.2/libexec/lib/ruby/gems/1.8/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.menuButton.active:hover { background-color: #a16767; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #be9696), color-stop(75%, #a16767)); background: -webkit-linear-gradient(#be9696 3%, #a16767 75%); background: -moz-linear-gradient(#be9696 3%, #a16767 75%); background: -o-linear-gradient(#be9696 3%, #a16767 75%); background: linear-gradient(#be9696 3%, #a16767 75%); }
/* line 21, ../../../../../../../usr/local/Cellar/jruby/1.6.7.2/libexec/lib/ruby/gems/1.8/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.menuButton.active:active { -webkit-box-shadow: #995f5f 0 1px 2px inset; -moz-box-shadow: #995f5f 0 1px 2px inset; box-shadow: #995f5f 0 1px 2px inset; }
/* line 6, ../../../../../../../usr/local/Cellar/jruby/1.6.7.2/libexec/lib/ruby/gems/1.8/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.menuButton.active.disabled, .menuButton.active[disabled] { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; background: #aa7777; cursor: default; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
/* line 74, ../../../../../../../usr/local/Cellar/jruby/1.6.7.2/libexec/lib/ruby/gems/1.8/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
.menuButton.active::-moz-focus-inner { padding: 0 !important; margin: -1px !important; }

/* line 33, ../../src/stylesheets/foundation/_buttons.scss */
.menuButton.conflicts.active { font-size: 10px; padding: 0.5em 1.5em; display: inline-block; cursor: pointer; -webkit-border-radius: 8px; -moz-border-radius: 8px; -ms-border-radius: 8px; -o-border-radius: 8px; border-radius: 8px; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFF66AE', endColorstr='#FFFF0078'); background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffb3d7), color-stop(70%, #ff66ae)); background: -webkit-linear-gradient(#ffb3d7, #ff66ae 70%); background: -moz-linear-gradient(#ffb3d7, #ff66ae 70%); background: -o-linear-gradient(#ffb3d7, #ff66ae 70%); background: linear-gradient(#ffb3d7, #ff66ae 70%); -webkit-box-shadow: white 0 1px 0 inset; -moz-box-shadow: white 0 1px 0 inset; box-shadow: white 0 1px 0 inset; border: 1px solid #ff4da1; color: white; text-shadow: #ff2b8f 0 -1px 0; }
/* line 15, ../../../../../../../usr/local/Cellar/jruby/1.6.7.2/libexec/lib/ruby/gems/1.8/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.menuButton.conflicts.active:hover { text-decoration: none; }
/* line 18, ../../../../../../../usr/local/Cellar/jruby/1.6.7.2/libexec/lib/ruby/gems/1.8/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.menuButton.conflicts.active:hover { background-color: #ff4da1; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #ff99c9), color-stop(75%, #ff4da1)); background: -webkit-linear-gradient(#ff99c9 3%, #ff4da1 75%); background: -moz-linear-gradient(#ff99c9 3%, #ff4da1 75%); background: -o-linear-gradient(#ff99c9 3%, #ff4da1 75%); background: linear-gradient(#ff99c9 3%, #ff4da1 75%); }
/* line 21, ../../../../../../../usr/local/Cellar/jruby/1.6.7.2/libexec/lib/ruby/gems/1.8/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.menuButton.conflicts.active:active { -webkit-box-shadow: #ff3d98 0 1px 2px inset; -moz-box-shadow: #ff3d98 0 1px 2px inset; box-shadow: #ff3d98 0 1px 2px inset; }
/* line 6, ../../../../../../../usr/local/Cellar/jruby/1.6.7.2/libexec/lib/ruby/gems/1.8/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.menuButton.conflicts.active.disabled, .menuButton.conflicts.active[disabled] { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; background: #ff66ae; cursor: default; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
/* line 74, ../../../../../../../usr/local/Cellar/jruby/1.6.7.2/libexec/lib/ruby/gems/1.8/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
.menuButton.conflicts.active::-moz-focus-inner { padding: 0 !important; margin: -1px !important; }

/* line 37, ../../src/stylesheets/foundation/_buttons.scss */
button.pushbutton, span.pushbutton { display: block; min-width: 20px; height: 22px; position: relative; }

/* line 45, ../../src/stylesheets/foundation/_buttons.scss */
.delete { font-size: 10px; padding: 0.5em 1.5em; display: inline-block; cursor: pointer; -webkit-border-radius: 8px; -moz-border-radius: 8px; -ms-border-radius: 8px; -o-border-radius: 8px; border-radius: 8px; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFF0000', endColorstr='#FF990000'); background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff4d4d), color-stop(70%, #ff0000)); background: -webkit-linear-gradient(#ff4d4d, #ff0000 70%); background: -moz-linear-gradient(#ff4d4d, #ff0000 70%); background: -o-linear-gradient(#ff4d4d, #ff0000 70%); background: linear-gradient(#ff4d4d, #ff0000 70%); -webkit-box-shadow: #ff9999 0 1px 0 inset; -moz-box-shadow: #ff9999 0 1px 0 inset; box-shadow: #ff9999 0 1px 0 inset; border: 1px solid #e60000; color: white; text-shadow: #c40000 0 -1px 0; position: relative; -webkit-box-shadow: #c20000 0 0.4em 0px, #ff5c5c 0 1px 0 inset; -moz-box-shadow: #c20000 0 0.4em 0px, #ff5c5c 0 1px 0 inset; box-shadow: #c20000 0 0.4em 0px, #ff5c5c 0 1px 0 inset; border-bottom: solid 1px red; display: inline-block; height: 24px; }
/* line 15, ../../../../../../../usr/local/Cellar/jruby/1.6.7.2/libexec/lib/ruby/gems/1.8/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.delete:hover { text-decoration: none; }
/* line 18, ../../../../../../../usr/local/Cellar/jruby/1.6.7.2/libexec/lib/ruby/gems/1.8/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.delete:hover { background-color: #e60000; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #ff3333), color-stop(75%, #e60000)); background: -webkit-linear-gradient(#ff3333 3%, #e60000 75%); background: -moz-linear-gradient(#ff3333 3%, #e60000 75%); background: -o-linear-gradient(#ff3333 3%, #e60000 75%); background: linear-gradient(#ff3333 3%, #e60000 75%); }
/* line 21, ../../../../../../../usr/local/Cellar/jruby/1.6.7.2/libexec/lib/ruby/gems/1.8/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.delete:active { -webkit-box-shadow: #d60000 0 1px 2px inset; -moz-box-shadow: #d60000 0 1px 2px inset; box-shadow: #d60000 0 1px 2px inset; }
/* line 6, ../../../../../../../usr/local/Cellar/jruby/1.6.7.2/libexec/lib/ruby/gems/1.8/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.delete.disabled, .delete[disabled] { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; background: red; cursor: default; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
/* line 74, ../../../../../../../usr/local/Cellar/jruby/1.6.7.2/libexec/lib/ruby/gems/1.8/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
.delete::-moz-focus-inner { padding: 0 !important; margin: -1px !important; }
/* line 8, ../../../../../../../usr/local/Cellar/jruby/1.6.7.2/libexec/lib/ruby/gems/1.8/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-styles.sass */
.delete:active { top: 0.3em; -webkit-box-shadow: #d60000 0 0.2em 0px; -moz-box-shadow: #d60000 0 0.2em 0px; box-shadow: #d60000 0 0.2em 0px; }
/* line 50, ../../src/stylesheets/foundation/_buttons.scss */
.delete:before { content: "\f014"; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit; color: #fff; font-size: 18px; padding-right: 0.5em; position: absolute; left: 8px; top: 2px; }

/* line 65, ../../src/stylesheets/foundation/_buttons.scss */
.edit { font-size: 10px; padding: 0.5em 1.5em; display: inline-block; cursor: pointer; -webkit-border-radius: 8px; -moz-border-radius: 8px; -ms-border-radius: 8px; -o-border-radius: 8px; border-radius: 8px; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF48A248', endColorstr='#FF295B29'); background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #75c275), color-stop(70%, #48a248)); background: -webkit-linear-gradient(#75c275, #48a248 70%); background: -moz-linear-gradient(#75c275, #48a248 70%); background: -o-linear-gradient(#75c275, #48a248 70%); background: linear-gradient(#75c275, #48a248 70%); -webkit-box-shadow: #aad9aa 0 1px 0 inset; -moz-box-shadow: #aad9aa 0 1px 0 inset; box-shadow: #aad9aa 0 1px 0 inset; border: 1px solid #409040; color: white; text-shadow: #367936 0 -1px 0; position: relative; -webkit-box-shadow: #357835 0 0.4em 0px, #7fc67f 0 1px 0 inset; -moz-box-shadow: #357835 0 0.4em 0px, #7fc67f 0 1px 0 inset; box-shadow: #357835 0 0.4em 0px, #7fc67f 0 1px 0 inset; border-bottom: solid 1px #48a248; }
/* line 15, ../../../../../../../usr/local/Cellar/jruby/1.6.7.2/libexec/lib/ruby/gems/1.8/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.edit:hover { text-decoration: none; }
/* line 18, ../../../../../../../usr/local/Cellar/jruby/1.6.7.2/libexec/lib/ruby/gems/1.8/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.edit:hover { background-color: #409040; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #63ba63), color-stop(75%, #409040)); background: -webkit-linear-gradient(#63ba63 3%, #409040 75%); background: -moz-linear-gradient(#63ba63 3%, #409040 75%); background: -o-linear-gradient(#63ba63 3%, #409040 75%); background: linear-gradient(#63ba63 3%, #409040 75%); }
/* line 21, ../../../../../../../usr/local/Cellar/jruby/1.6.7.2/libexec/lib/ruby/gems/1.8/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.edit:active { -webkit-box-shadow: #3b863b 0 1px 2px inset; -moz-box-shadow: #3b863b 0 1px 2px inset; box-shadow: #3b863b 0 1px 2px inset; }
/* line 6, ../../../../../../../usr/local/Cellar/jruby/1.6.7.2/libexec/lib/ruby/gems/1.8/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.edit.disabled, .edit[disabled] { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; background: #48a248; cursor: default; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
/* line 74, ../../../../../../../usr/local/Cellar/jruby/1.6.7.2/libexec/lib/ruby/gems/1.8/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
.edit::-moz-focus-inner { padding: 0 !important; margin: -1px !important; }
/* line 8, ../../../../../../../usr/local/Cellar/jruby/1.6.7.2/libexec/lib/ruby/gems/1.8/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-styles.sass */
.edit:active { top: 0.3em; -webkit-box-shadow: #3b863b 0 0.2em 0px; -moz-box-shadow: #3b863b 0 0.2em 0px; box-shadow: #3b863b 0 0.2em 0px; }
/* line 68, ../../src/stylesheets/foundation/_buttons.scss */
.edit:before { content: "\f040"; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit; color: #fff; font-size: 18px; padding-right: 0.5em; position: absolute; left: 8px; top: 2px; }

/* line 83, ../../src/stylesheets/foundation/_buttons.scss */
.save { font-size: 10px; padding: 0.5em 1.5em; display: inline-block; cursor: pointer; -webkit-border-radius: 8px; -moz-border-radius: 8px; -ms-border-radius: 8px; -o-border-radius: 8px; border-radius: 8px; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0000FF', endColorstr='#FF000099'); background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d4dff), color-stop(70%, #0000ff)); background: -webkit-linear-gradient(#4d4dff, #0000ff 70%); background: -moz-linear-gradient(#4d4dff, #0000ff 70%); background: -o-linear-gradient(#4d4dff, #0000ff 70%); background: linear-gradient(#4d4dff, #0000ff 70%); -webkit-box-shadow: #9999ff 0 1px 0 inset; -moz-box-shadow: #9999ff 0 1px 0 inset; box-shadow: #9999ff 0 1px 0 inset; border: 1px solid #0000e6; color: white; text-shadow: #0000c4 0 -1px 0; position: relative; -webkit-box-shadow: #0000c2 0 0.4em 0px, #5c5cff 0 1px 0 inset; -moz-box-shadow: #0000c2 0 0.4em 0px, #5c5cff 0 1px 0 inset; box-shadow: #0000c2 0 0.4em 0px, #5c5cff 0 1px 0 inset; border-bottom: solid 1px blue; }
/* line 15, ../../../../../../../usr/local/Cellar/jruby/1.6.7.2/libexec/lib/ruby/gems/1.8/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.save:hover { text-decoration: none; }
/* line 18, ../../../../../../../usr/local/Cellar/jruby/1.6.7.2/libexec/lib/ruby/gems/1.8/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.save:hover { background-color: #0000e6; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #3333ff), color-stop(75%, #0000e6)); background: -webkit-linear-gradient(#3333ff 3%, #0000e6 75%); background: -moz-linear-gradient(#3333ff 3%, #0000e6 75%); background: -o-linear-gradient(#3333ff 3%, #0000e6 75%); background: linear-gradient(#3333ff 3%, #0000e6 75%); }
/* line 21, ../../../../../../../usr/local/Cellar/jruby/1.6.7.2/libexec/lib/ruby/gems/1.8/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.save:active { -webkit-box-shadow: #0000d6 0 1px 2px inset; -moz-box-shadow: #0000d6 0 1px 2px inset; box-shadow: #0000d6 0 1px 2px inset; }
/* line 6, ../../../../../../../usr/local/Cellar/jruby/1.6.7.2/libexec/lib/ruby/gems/1.8/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.save.disabled, .save[disabled] { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; background: blue; cursor: default; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
/* line 74, ../../../../../../../usr/local/Cellar/jruby/1.6.7.2/libexec/lib/ruby/gems/1.8/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
.save::-moz-focus-inner { padding: 0 !important; margin: -1px !important; }
/* line 8, ../../../../../../../usr/local/Cellar/jruby/1.6.7.2/libexec/lib/ruby/gems/1.8/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-styles.sass */
.save:active { top: 0.3em; -webkit-box-shadow: #0000d6 0 0.2em 0px; -moz-box-shadow: #0000d6 0 0.2em 0px; box-shadow: #0000d6 0 0.2em 0px; }

/* line 88, ../../src/stylesheets/foundation/_buttons.scss */
.cancel { font-size: 10px; padding: 0.5em 1.5em; display: inline-block; cursor: pointer; -webkit-border-radius: 8px; -moz-border-radius: 8px; -ms-border-radius: 8px; -o-border-radius: 8px; border-radius: 8px; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF876767', endColorstr='#FF4D3B3B'); background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aa9090), color-stop(70%, #876767)); background: -webkit-linear-gradient(#aa9090, #876767 70%); background: -moz-linear-gradient(#aa9090, #876767 70%); background: -o-linear-gradient(#aa9090, #876767 70%); background: linear-gradient(#aa9090, #876767 70%); -webkit-box-shadow: #cbbbbb 0 1px 0 inset; -moz-box-shadow: #cbbbbb 0 1px 0 inset; box-shadow: #cbbbbb 0 1px 0 inset; border: 1px solid #795c5c; color: white; text-shadow: #664e4e 0 -1px 0; position: relative; -webkit-box-shadow: #644d4d 0 0.4em 0px, #b19999 0 1px 0 inset; -moz-box-shadow: #644d4d 0 0.4em 0px, #b19999 0 1px 0 inset; box-shadow: #644d4d 0 0.4em 0px, #b19999 0 1px 0 inset; border-bottom: solid 1px #876767; }
/* line 15, ../../../../../../../usr/local/Cellar/jruby/1.6.7.2/libexec/lib/ruby/gems/1.8/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.cancel:hover { text-decoration: none; }
/* line 18, ../../../../../../../usr/local/Cellar/jruby/1.6.7.2/libexec/lib/ruby/gems/1.8/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.cancel:hover { background-color: #795c5c; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #9f8282), color-stop(75%, #795c5c)); background: -webkit-linear-gradient(#9f8282 3%, #795c5c 75%); background: -moz-linear-gradient(#9f8282 3%, #795c5c 75%); background: -o-linear-gradient(#9f8282 3%, #795c5c 75%); background: linear-gradient(#9f8282 3%, #795c5c 75%); }
/* line 21, ../../../../../../../usr/local/Cellar/jruby/1.6.7.2/libexec/lib/ruby/gems/1.8/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.cancel:active { -webkit-box-shadow: #705555 0 1px 2px inset; -moz-box-shadow: #705555 0 1px 2px inset; box-shadow: #705555 0 1px 2px inset; }
/* line 6, ../../../../../../../usr/local/Cellar/jruby/1.6.7.2/libexec/lib/ruby/gems/1.8/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.cancel.disabled, .cancel[disabled] { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; background: #876767; cursor: default; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
/* line 74, ../../../../../../../usr/local/Cellar/jruby/1.6.7.2/libexec/lib/ruby/gems/1.8/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
.cancel::-moz-focus-inner { padding: 0 !important; margin: -1px !important; }
/* line 8, ../../../../../../../usr/local/Cellar/jruby/1.6.7.2/libexec/lib/ruby/gems/1.8/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-styles.sass */
.cancel:active { top: 0.3em; -webkit-box-shadow: #705555 0 0.2em 0px; -moz-box-shadow: #705555 0 0.2em 0px; box-shadow: #705555 0 0.2em 0px; }

/* line 6, ../../src/stylesheets/components/_header.scss */
.header .option1 { background-color: #e0e0ff; }
/* line 9, ../../src/stylesheets/components/_header.scss */
.header .option2 { background-color: #ffe0e0; }
/* line 12, ../../src/stylesheets/components/_header.scss */
.header .option3 { background-color: #ffc271; }
/* line 15, ../../src/stylesheets/components/_header.scss */
.header .nav { height: 60px; min-width: 460px; }
/* line 18, ../../src/stylesheets/components/_header.scss */
.header .nav img { float: right; height: 60px; margin: 0; }
/* line 24, ../../src/stylesheets/components/_header.scss */
.header .nav ul { float: left; height: 60px; width: 70%; margin: 0; }
/* line 29, ../../src/stylesheets/components/_header.scss */
.header .nav ul li { float: left; height: 100%; }
/* line 33, ../../src/stylesheets/components/_header.scss */
.header .nav ul li.active { background: rgba(51, 51, 224, 0.2); }
/* line 37, ../../src/stylesheets/components/_header.scss */
.header .nav a { display: inline-block; color: #33339b; text-decoration: none; margin: 18px; }
/* line 42, ../../src/stylesheets/components/_header.scss */
.header .nav a:hover { text-decoration: underline; }

/* line 3, ../../src/stylesheets/components/_footer.scss */
#footer { height: 60px; padding: 12px; text-align: center; }
/* line 7, ../../src/stylesheets/components/_footer.scss */
#footer i { margin-left: 20px; }
/* line 9, ../../src/stylesheets/components/_footer.scss */
#footer i:before { content: "\f02d"; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit; color: #333; font-size: 18px; }

/* line 6, ../../src/stylesheets/components/_timeline.scss */
.timeline-holder { -webkit-border-radius: 10px 10px; -moz-border-radius: 10px / 10px; border-radius: 10px / 10px; background-color: white; margin-left: auto; margin-right: auto; margin-top: 10px; margin-top: 10px; padding: 20px; width: 800px; }

/* line 3, ../../src/stylesheets/components/_content-panel.scss */
div.navtabs { margin-left: auto; margin-right: auto; margin-top: 20px; height: 40px; width: 760px; }

/* line 12, ../../src/stylesheets/components/_content-panel.scss */
div.tabcontent { overflow: scroll; height: 400px; }

/* line 1, ../../src/stylesheets/components/_table.scss */
table.tabular { background-color: white; }

/* line 5, ../../src/stylesheets/components/_table.scss */
td.modified { color: blue; font-style: italic; }

/* line 10, ../../src/stylesheets/components/_table.scss */
td.hiddenOffset { display: none; }

/* line 14, ../../src/stylesheets/components/_table.scss */
tr.learningtype { background-color: #9694e8; }

/* line 18, ../../src/stylesheets/components/_table.scss */
tr.reworktype { background-color: #ffea7c; }

/* line 22, ../../src/stylesheets/components/_table.scss */
tr.conflicttype { background-color: #ff90d1; }

/* line 26, ../../src/stylesheets/components/_table.scss */
tr.idletype { background-color: #777777; }

/* line 30, ../../src/stylesheets/components/_table.scss */
tr.idletype td { color: white; font-style: italic; }

/* line 36, ../../src/stylesheets/components/_table.scss */
td.learningtype { background-color: #520ce8; }

/* line 40, ../../src/stylesheets/components/_table.scss */
td.reworktype { background-color: #ffcb01; }

/* line 44, ../../src/stylesheets/components/_table.scss */
td.conflicttype { background-color: #ff0078; }

td.progresstype { background-color: #ffffff; }

td.eventtype { background-color: #ffffff; }

/* line 44, ../../src/stylesheets/components/_table.scss */
td.indent-one { border-left: 5px solid #111111; }
td.indent-two { border-left:  30px solid #111111;}
td.indent-three { border-left: 70px solid #111111;}

tr.bandgroup { background-color: #EEEEEE; border-top: 2px solid #DDDDDD; }


/* line 26, ../../src/stylesheets/components/_table.scss */
tr.subtask { background-color: #AAAAAA; border-top: 2px solid #111111; }

/* line 30, ../../src/stylesheets/components/_table.scss */
tr.subtask td { color: white; }

tr.eventrow:hover { background-color: #d3e0ff; }

tr.subtask:hover { background-color: #999999; }


/* line 50, ../../src/stylesheets/components/_table.scss */
.right { text-align: right; }

/* line 4, ../../src/stylesheets/components/_conflicts.scss */
#conflicts { background-color: white; padding: 1em; border-top: solid 1px #dddddd; }

/* line 10, ../../src/stylesheets/components/_conflicts.scss */
.conflict { display: block; width: 700px; margin-left: auto; margin-right: auto; -webkit-border-radius: 10px 10px; -moz-border-radius: 10px / 10px; border-radius: 10px / 10px; border: 1px solid #7752d8; }
/* line 17, ../../src/stylesheets/components/_conflicts.scss */
.conflict .header { border-bottom: 1px solid #7752d8; -webkit-border-top-left-radius: 10px; -webkit-border-top-right-radius: 10px; -moz-border-radius-topleft: 10px; -moz-border-radius-topright: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px; background-color: #ffefef; color: #4d4d4d; font-weight: bold; padding: 5px; }
/* line 25, ../../src/stylesheets/components/_conflicts.scss */
.conflict .content { display: inline-block; padding: 10px; }

/* line 31, ../../src/stylesheets/components/_conflicts.scss */
.conflict:hover { background-color: #d3e0ff; cursor: pointer; }

/* line 36, ../../src/stylesheets/components/_conflicts.scss */
.label { vertical-align: top; text-align: right; display: inline-block; width: 100px; }

/* line 43, ../../src/stylesheets/components/_conflicts.scss */
.description { display: inline-block; margin-left: 20px; }

/* line 48, ../../src/stylesheets/components/_conflicts.scss */
.question { font-weight: bold; }

/* line 52, ../../src/stylesheets/components/_conflicts.scss */
.answer { font-style: italic; }
