@import '../../node_modules/@angular/material/core/core';

app-root{
  & > main{
    display:flex;
    flex-direction: column;
    height:100vh;
    router-outlet{
      height:0;
      width:0;
      display:none !important;
    }
    & > header{

    }
    & > main{
      flex:1;
      & > * {
        & > main{
          padding:20px;
          & > header{
            display:flex;
            align-items: baseline;
            justify-content: space-between;
            margin-bottom:1em;
            border-bottom:1px solid #f2f2f2;
            & > main{
              h1{
                margin:0;
                font-size: 2em;
                font-weight:normal;
              }
              & > nav{
                padding:0;
                margin:0;

                & > p{
                  display:flex;
                  align-items:center;
                  margin:10px 2px;

                  & > a{
                    color:md-color($md-deep-purple,500);

                    &:active,&:visited,&:any-link{
                      text-decoration: none;
                    }
                  }
                  & > i{
                    &.material-icons{
                      font-size:1.5em;
                      color:md-color($md-deep-purple,500);
                    }
                  }
                }
              }
            }
            md-input-container{
              display:flex;
              .md-input-infix{
                display:flex;
              }
              md-icon{
                float:right;
              }
            }
            &:last-child{
              text-align: right;
            }
          }
          & > main{
            padding:20px 0;
          }
          table{
            tr{
              th,td{
                &:last-child{
                  text-align:right;
                }
              }
            }
          }
        }
      }
    }
    & > footer{
      background:md-color($md-deep-purple,900);
      color:md-contrast($md-deep-purple,900);
      padding:20px;
    }
  }
}
