<main>

  <main>
    Haystack!

    <md-card>
      <header>
        <main>
          All Timeline Activity
        </main>
        <aside>

        </aside>
      </header>
      <main>
        <table>
          <tr>
            <th>
              Activity Type
            </th>
            <th>
              Description
            </th>
            <th>
              Execution vs Human Cycle
            </th>
          </tr>

          <tr *ngFor=" let history of flatHistory; let i = index;">

            <td *ngIf="history.hasOwnProperty('debug')">
              <span *ngIf="history.debug">
                [Bug]
              </span>
              {{history.executionTaskType}}
            </td>
            <td *ngIf="history.hasOwnProperty('debug')">
              {{i}} {{history.processName}}
            </td>
            <td *ngIf="history.hasOwnProperty('debug')">
              {{history.executionDurationInSeconds }} / {{history.durationInSeconds }}
            </td>


            <td *ngIf="history.hasOwnProperty('activityType')">
              {{history.activityType | capitalize }}
            </td>
            <td *ngIf="history.hasOwnProperty('activityType')">
              {{history.activityName}}
            </td>
            <td *ngIf="history.hasOwnProperty('activityType')">
              {{history.durationModifiedInSeconds }} / {{history.durationInSeconds }}
            </td>
          </tr>
        </table>
      </main>
    </md-card>

  </main>
</main>
