<main>
  <header>
    <main>
      <h1>Glossary</h1>
      <nav>
        <p>
          <a>&nbsp;</a>
        </p>
      </nav>
    </main>
    <aside>
      <md-input-container>
        <input md-input type="search"/><md-icon>search</md-icon>
      </md-input-container>
    </aside>
  </header>
  <main>
    <table class="mdl-data-table highlight" *ngIf="glossary">
      <thead>
        <tr>
          <th (click)="sortGlossary(glossary,'id')"><button md-button>Id</button></th>
          <th (click)="sortGlossary(glossary,'name')"><button md-button>Name</button></th>
          <th (click)="sortGlossary(glossary,'description')"><button md-button>Description</button></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let definition of glossary; let i = index;">
          <td>{{definition.id}}</td>
          <td>{{definition.name}}</td>
          <td>{{definition.description}}</td>
        </tr>
      </tbody>
    </table>
  </main>
</main>
