<main>
  <header>
    <main>
      <h1>FAQ</h1>
      <nav>
        <p>
          <a>&nbsp;</a>
        </p>
      </nav>
    </main>
    <aside>
      <md-input-container>
        <input md-input type="search"/><md-icon>search</md-icon>
      </md-input-container>
    </aside>
  </header>
  <main>


    <table class="mdl-data-table highlight">
      <thead>
      <tr>
        <th colspan="2" (click)="sortGlossary(glossary,'description')"><button md-button>Story Point</button></th>
        <th (click)="sortGlossary(glossary,'taskPainInSeconds')"><button md-button>Task Pain</button></th>
        <th (click)="sortGlossary(glossary,'journeyPainInSeconds')"><button md-button>Session Pain</button></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let faq of faqs; let i = index;" (click)="goToFaq(faq.fullPath)">
        <td>
          <i class="material-icons" style="background-color: red" *ngIf="faq.faqType === 'PAIN'">timelapse</i>
          <i class="material-icons" style="background-color: blueviolet"*ngIf="faq.faqType === 'AWESOME'">timelapse</i>
        </td>
        <td>
          <h4>{{faq.faqType === 'PAIN'? 'WTF?!' : 'YAY!'}}: {{faq.eventDescription}}</h4>
          <p> {{faq.faqAnnotation}}</p>

          <p><i> {{faq.position | date: 'MMM dd yyyy'}} </i>
            <span *ngFor="let contextTag of faq.contextTags">
              <label>{{contextTag}}</label>
            </span>
            <span color="red" *ngFor="let painTag of faq.painTags">
              <label>{{painTag}}</label>
            </span>
          </p>


        <td>{{faq.taskPainInSeconds | amDuration:'seconds'}}</td>

        <td>{{faq.journeyPainInSeconds | amDuration:'seconds' }}</td>
      </tr>
      </tbody>
    </table>
  </main>
</main>
