<div class="user-form">
  <input mdInput
         id="user-name"
         placeholder="name"
         type="text"
         [(ngModel)]="user.name"
         required
         minlength="2"
         pattern="^([ \u00c0-\u01ffa-zA-Z'\-])+$">
  <!-- from https://stackoverflow.com/questions/275160/regex-for-names -->

  <div class="md-errors-spacer" [hidden]="name.valid || name.untouched">
    <div class="md-char-counter" *ngIf="name.errors && name.errors.required">
      Name is required
    </div>
    <div class="md-char-counter" *ngIf="email.errors && email.errors.pattern">
      Name is invalid
    </div>
  </div>

  <input mdInput
         id="user-email"
         placeholder="email"
         type="text"
         [(ngModel)]="user.email"
         required
         pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,6})+$">
  <!-- from https://stackoverflow.com/questions/34072092/generic-mail-validator-in-angular2 -->


  <div class="md-errors-spacer" [hidden]="email.valid || email.untouched">
    <div class="md-char-counter" *ngIf="email.errors && email.errors.required">
      Email is required
    </div>
    <div class="md-char-counter" *ngIf="email.errors && email.errors.pattern">
      Email is invalid
    </div>
  </div>

  <button md-raised-button color="primary" *ngIf="isNew" (click)="create()">Create</button>
  <button md-raised-button color="primary" *ngIf="notNew" (click)="save()">Save</button>
</div>
