<main>
  <div *ngIf="noAccountsSetup">
    <header>
      <main>
        <h1>IdeaFlowDX Profiler</h1>
      </main>
    </header>


    <main>
      <h4 style="text-align: center">Set up your team</h4>
      <p>
        IdeaFlowDX Profiler is designed to help you identify the biggest causes of pain on your software project, so you
        can focus on the improvements that matter most. To start collecting data, create then manage accounts for everyone on
        your team.
      </p>

      <button style="float: right" md-raised-button color="primary" (click)="createAccounts()">Manage Accounts</button>
    </main>
  </div>

  <div *ngIf="accountsSetup">
    <h4 style="text-align: center">Team Member Accounts</h4>

    <md-sidenav-container style="height: 100vh">
      <md-sidenav class="md-sidenav-left" mode="side" opened="true">
        <section layout="row">
          <span>Account</span>
          <button md-raised-button (click)="addUser()"><span style="font-size: x-large">+</span></button>
          <button md-raised-button (click)="removeUser()"><span style="font-size: x-large">-</span></button>
        </section>
        <ul id="userslist" style="list-style: none;">
          <li class="user" *ngFor="let user of users" (click)="editUser(user)">
            <div>
              <span>{{user.name}}</span>
              <div>{{user.email}}</div>
            </div>
          </li>
        </ul>
      </md-sidenav>

      <div class="my-content">
        <div *ngIf="editingUser">
          <app-user [user]="editedUser"></app-user>
          <div *ngIf="hasNoApiKey">
            <button md-raised-button (click)="generateKey()">Generate Key</button>
          </div>
          <div *ngIf="hasApiKey">
            <md-list>
              <md-list-item>
                <h3 md-line> API-Key </h3>
                <p md-line>
                  <span>{{editedUser.apiKey}}</span>
                </p>
                <p md-line>
                  <i>Use this API-key in your local IDE configuration to submit data for this account.</i>
                </p>
              </md-list-item>
            </md-list>
          </div>
        </div>
      </div>
    </md-sidenav-container>
  </div>
</main>
