<main>
  <header>
    <main>
      <h1>Recent Idea Flows</h1>
      <nav>
        <p>
          <a>&nbsp;</a>
        </p>
      </nav>
    </main>
    <aside>
      <md-input-container>
        <input md-input type="search"/><md-icon>search</md-icon>
      </md-input-container>
    </aside>
  </header>
  <main>

    <table class="mdl-data-table highlight"
      infinite-scroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="300"
      (scrolled)="getMore()">

      <thead>
        <tr>
          <th (click)="sortTasks(tasks,'id')">IFM</th>
          <th (click)="sortTasks(tasks,'project')">Project</th>
          <th (click)="sortTasks(tasks,'name')">TaskId</th>
          <th (click)="sortTasks(tasks,'description')">Description</th>
          <th (click)="sortTasks(tasks,'modifyDate')">Most Recent Activity</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks; let i = index;" (click)="goToTask(task)">
          <td>{{task.id}}</td>
          <td><a href="#/project/{{task.project}}">{{task.project}}</a></td>
          <td>{{task.name}}</td>
          <td>{{task.description}}</td>
          <td>{{task?.modifyDate | amTimeAgo}}</td>
        </tr>
      </tbody>
    </table>
  </main>
