<main>
  <header>
    <main>
      <h1>Recent Idea Flows</h1>
      <nav>
        <p>
          <a>&nbsp;</a>
        </p>
      </nav>
    </main>
  </header>
  <main>

    <md-sidenav-container style="height: 100vh">
      <md-sidenav class="md-sidenav-left" mode="side" opened="true">
        <ul id="userslist" style="list-style: none;">
          <li class="user" (click)="showAllFlows()">
            <span>All flows</span>
          </li>
          <li class="user" *ngFor="let user of users" (click)="goToUserIfms(user)">
            <span>{{user.name}}</span>
          </li>
        </ul>
      </md-sidenav>

      <div class="my-content">
        <table class="mdl-data-table highlight"
               infinite-scroll
               [infiniteScrollDistance]="2"
               [infiniteScrollThrottle]="300"
               (scrolled)="getMore()" *ngIf="tasks">
          <thead>
            <tr>
              <th (click)="sortTasks(tasks,'name')">
                <button md-button>Task</button>
              </th>
              <th (click)="sortTasks(tasks,'project')">
                <button md-button>Project</button>
              </th>
              <th (click)="sortTasks(tasks,'description')">
                <button md-button>Description</button>
              </th>
              <th (click)="sortTasks(tasks,'modifyDate')">
                <button md-button>Last Activity</button>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of tasks; let i = index;" (click)="goToTask(task)">
              <!--<td><a href="#/project/{{task.project}}">{{task.project}}</a></td>-->
              <td><a #button2 md-button color="accent" (click)="goToTask(task)">{{task.name}}</a></td>
              <td>{{task.project}}</td>
              <td>{{task.description}}</td>
              <td>{{task?.modifyDate | date:'d MMMM yyyy hh:mm a' : 'UTC' | amCalendar}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </md-sidenav-container>

  </main>
