@import "./src/styles/palette";
@import "./src/styles/functions";
app-login{
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  background:white;
  z-index:2;
  display:flex;
  justify-content: center;
  align-items: center;

  //background:url(../assets/mountains.jpg);
  //background-size:cover;
  //background-repeat: no-repeat;
  //background-attachment: fixed;
  //background-position: center;

  .login{
    width:400px;
    background-color:white;
    box-shadow: 0px 2px 3px rgba(0,0,0,.2);
    transition: width .5s ease;

    &::before{
      content:url(../assets/om_vector_logo.svg);
      display:block;
      transform: scale(0.5);
    }

    .background{
      position:fixed;
      z-index: -1;
      top:-10%;
      left:-10%;
      width: 120%;
      height:110%;
      background:al-color($md-deep-purple,900);
    }

    .app-input-section{
      margin:0 auto;
      padding:0 20px 20px 20px;

      .login-form{
        display:flex;
        flex-direction: column;

        h4{
          margin-top:0;
          text-align: center;
        }
        button{
          margin:10px 0;
        }
        a{
          display:block;
          text-align:center;
          text-decoration: none;
        }
      }
    }
  }
}

@media (max-width: 640px) {
   app-login {
     .login{
       width:100%;
     }
   }
}
